
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-size: auto;
    font-family: "Comic Sans MS", cursive;
    background: #3995b2;
    display: flex;
    justify-content: center;
    align-items: center;

}


.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

header {
    text-align: center;
    font-family: "Comic Sans MS";
    border-bottom-style: dotted;
    font-weight: bold;
    text-align: center;
    margin: 30px 20px 5px;
    font-size: 2.5em;

}

/* STATS */

.score-panel .stars .moves{
    text-align: center;
    width: 580px;
    margin-bottom: 15px;
    padding: 0 30px;
}


.score-panel .stars li {
    display: inline-block;
    padding: 8px;
    list-style: none;
}

.stars .fa {
    color: rgba(10, 61, 71, 0.85);
    font-size: 1.4em;
}

.score-panel::after {
    clear: none;
}

/*GAME BOARD */

.deck {
    width: 600px;
    min-height: 600px;
    margin: 0 0 2em;
    padding: 15px 30px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(46, 61, 73, 0.8);
    border-radius: 10px;
    -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card-container {
    height: 135px;
    width: 135px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    background: rgba(46, 61, 73, 0.8);
    font-size: 0;
    color: #35be57;
    border-radius: 6px;
    align-items: center;
    -webkit-box-shadow: 5px 2px 10px 0 rgba(46, 61, 73, 0.8);
    box-shadow: 5px 2px 10px 0 rgba(46, 61, 73, 0.8);
    -webkit-perspective: 1000px;
    perspective: 1000px;
    cursor: pointer;
}

.card-container .card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.7s;
    transition: -webkit-transform 0.7s;
    -o-transition: transform 0.7s;
    transition: transform 0.7s;
    transition: transform 0.7s, -webkit-transform 0.7s;
    border-radius: 6px;
}

.card figure {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    border-radius: 6px;
}

.card .front {
    background-image: url("img/snow.png");
}

.card .back {
    background: #eaebec;
    transform: rotateY(180deg);

}


.flipped {

    transform: rotateY(180deg);
}

.matched {
    opacity: .9;
}

/* BUTTONS */

.start-btn {
    background-color: #14a282;
    color: white;
    border: 2px solid #4CAF50;
    width: 60px;
    height: 45px;
    border-radius: 12px;
}

.start-btn:hover {
    background-color: #4CAF50;
    color: white;
}

.exit-btn {
    background-color: #c08e8e;
    color: black;
    border: 2px solid #008CBA;
    width: 60px;
    height: 45px;
    border-radius: 12px;

}

.exit-btn:hover {
    background-color: #f82c48;
    color: white;

}

.reload-btn {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    width: 60px;
    height: 45px;
    border-radius: 12px;

}

.reload-btn:hover {
    background-color: #00384b;
    color: white;
}

.reload-button{
    background-color: white;
    color: black;
    border: 2px solid #008CBA;;
    width: 75px;
    height: 30px;
    border-radius: 12px;

}

/* MODAL POPUP*/

.modal {
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 110, 128, 0.9);
    color: #175e6d;
    text-align: center;
    font-family: "Comic Sans MS";
}

.modal-content {
    margin: 20% auto;
    padding: 40px;
    width: 50%;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #0b2f36;
    -webkit-box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.3), 0 7px 25px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.3), 0 7px 25px 0 rgba(0, 0, 0, 0.2);
}

.modal .reload-button {
    margin-top: 20px;
    padding: 12px;
    width: 120px;
    background-color: #1fb9d6;
    -webkit-box-shadow: 0 5px #ddd;
    box-shadow: 0 5px #ddd;
}

modal .reload-button:hover {
    background-color: #1890a6;
}

.modal .reload-button:active {
    background-color: #1890a6;
    -webkit-box-shadow: 0 1px #ddd;
    box-shadow: 0 1px #ddd;
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
}

.modal-content span {
    margin-left: 10px;
}

h3 {
    margin: 0 0 20px;
}


.footer {
    text-align: center;
    font-family: "Comic Sans MS";
}
